<article class="new-page">
    <section class="new-form-page">
        <div class="form-heading">
            <h2>Dashboard - Create New Blog Post</h2>
        </div>
        <div class="form-section justify-content-around">
            <form class="new-post-form">
                <div class="post-title-section">
                    <label for="post-title">Title</label>
                    <br>
                    <input type="text" id="post-title" name="post-title" />
                </div>
                <div class="post-content">
                    <label for="post-content">Description</label>
                    <br>
                    <textarea class="entry-field" id="post-content" name="post-content"></textarea>
                </div>
                <div>
                <button type="submit" class="login-signup-btn">Create</button>
                </div>
            </form>
        </div>
    </section>
</article>

<script src="/createpost.js"></script>